In [51]:
import pandas as pd 
import numpy as np
import os

In [37]:
def create_file():
    contact = {"Name":['no one'],
          'Number 1':['0000000000'],
          'Number 2':['NULL'],
          'Number 3':['NULL'],
          'Email':['NULL']
          }
    df = pd.DataFrame(contact)
    df= df.drop(0)
    df.to_csv('contacts.csv')
    return df
create_file()
# os.path.exists('contacts.csv')

Empty DataFrame
Columns: [Name, Number 1, Number 2, Number 3, Email]
Index: []

# adding a number

In [170]:
def add_num():
    if(not os.path.exists('contacts.csv')):
        global df
        df = create_file()
    else:
        while 1:
            Name = input('Enter name')
            if(Name==''):
                print('you cannot leave name blank')
                continue
            elif(Name in df.Name.values):
                print('Already present')
                continue
            Number1 = input('enter number')
            if(Number1==''):
                print('you cannot leave neither Name nor 1st number blank')
                continue;
            elif(Number1 in df['Number 1'].values):
                continue
                print('already present with other name')
            Number2 = input('add more number, leave blank if not')
            Number3 = input('add more number, leave blank if not')
            Email = input('Enter email (optional)')
            contact = {"Name":[Name],
          'Number 1':[Number1],
          'Number 2':[Number2],
          'Number 3':[Number3],
          'Email':[Email]
          } 
            df1 = pd.DataFrame(contact)
#                 df = pd.read_csv(r'contacts.csv')
            df = df.append(df1)
            df.to_csv('contacts.csv')
            break;
add_num()
# pd.read_csv(r'contacts.csv')

Enter namepa
enter number9399374451
already present with other name

KeyboardInterrupt: Interrupted by user

# Searching a contact

In [193]:
def search_contact():
    cl = pd.read_csv(r'contacts.csv')
    cl = cl.drop('Unnamed: 0',axis = 1)
    search = input('enter the name you have to search to search')
    if(search in cl.Name.values):
        return cl.loc[cl['Name'] == search]
    return cl
k=search_contact()
k

enter the name you have to search to searchpj

  Name    Number 1  Number 2  Number 3  Email
5   pj  9399374451       NaN       NaN    NaN

In [171]:
# # z = "parn jain"
# # z.count(" ")
# # len(z)
# # x= np.NaN
# # x
# x = input('hello')
# x
# if(x==''):
#     print('yes')
# dp = pd.read_csv(r'contacts.csv')
# if('erfdv' in df['Name'].values):
#     print('true')
# else:
#     print("False")
# dp.drop('Unnamed: 0',axis=1,inplace=True)
# dp.to_csv('contacts.csv')
# dp['Name']
# dp
# df

   Unnamed: 0       Name    Number 1  Number 2  Number 3  Email
0           0      erfdv        erfd       NaN       NaN    NaN
1           0        qws        weds       NaN       NaN    NaN
2           0        NaN         sdf       NaN       NaN    NaN
3           0  parn jain         asf       NaN       NaN    NaN
4           0  parn jain        asdf       NaN       NaN    NaN
5           0         pj  9399374451       NaN       NaN    NaN